body{
    background-image: url(2.jpg);
    background-size: cover;
    background-position: top;
}
form{
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    width: fit-content;
    background-position: center;
    text-align: justify;
    color: white;
    line-height: 50px;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 50px;
    border-color: white;
    border: 2px;
    border-style: groove;
    padding: 30px 80px 40px 80px;
    margin: 0px auto ;
}
h1{
    text-align: center;
}
.button{
    border-radius: 20px;
    border-color: white;
    color: black;
    padding: 10px    100px;
}
input{
    padding: 0px 50px;
    width: 100px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid white;
}
a{
    color: white;
    text-decoration: none;
}
.no1{
    width: 1500px;
    height: 30px;
    display: flex;
    flex-direction: row;
    background: burlywood;
    padding: 10px 10px 10px 10px;
    justify-content: flex-start;
    align-items: center;
}
.link{
    margin: 10px;
    word-spacing: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 100px;
}
a{
    margin: 0px 0px 0px 15px;
    text-decoration: none;
    color: white;
}
img{
    background: none;
    margin: 5px;
}
.name{
}
#Login{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    align-items: flex-end;
    color: white;
    background: rgb(197, 143, 89);
}