body{
background: blanchedalmond;
}
.no1{
    width: 1500px;
    height: 30px;
    display: flex;
    flex-direction: row;
    background: burlywood;
    padding: 10px 10px 10px 10px;
    justify-content: flex-start;
    align-items: center;
}
.link{
    margin: 10px;
    word-spacing: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 100px; margin-right: 50px;
}
.a{
    margin: 0px 0px 0px 15px;
    text-decoration: none;
    color: white;
    font-size: small;
}
img{
    background: none;
    margin: 5px;
}
.name{
}
#Login{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    align-items: flex-end;
    color: white;
    background: rgb(197, 143, 89);
}
h2{
    text-align: center;
    font-size: large;
    font-weight: 300;
}
.first{
    width: fit-content;
}
.combo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
}
.content{
    text-align: center;
    width: fit-content;
    margin: 20px;
    line-height: 5px;
}
i{
    font-size: 50px;
    margin: 20px 0px;
}
.know{
    background: burlywood;
    border-radius: 2px;
    border: none;
    color: rgb(0, 0, 0);
    height: 30px;
    width: 120px;
}.tm{
    display: flex;
    flex-direction: row;
    align-items: center;
}
